language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-exit-time-destructors main.cpp Building.cpp Drill.cpp Elevator.cpp User.cpp Pencil.cpp PencilCase.cpp SchoolBag.cpp Wrappers.cpp && ./a.out"